
.hidden {
  display: none !important;
}
 .segment {
   height: 100% !important;
   margin-top: 57.15px !important;
 }
 .pusher {
   height: 100% !important;
 }

.button {
  padding-left: 0em !important;
  padding-right: 0em !important;
}
