* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

html, body {
  background-color: #1B1C1D !important;
  height: 100%;
}

.hidden {
  display: none !important;
}

#gambiarra {
  height:3.572em;
}
 .segment {
   /*height: 100% !important;*/
   margin-top: 0em !important
 }
 .pusher {
   /*height: 100% !important;*/
   background-color: #1B1C1D !important;
 }

 

.ui.toggle.checkbox{
  /* Big Checkbox */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 1.250em;
}

.ui.form {
  padding: 4em;
}

.column>*{
  height: 100% !important;
}

.bottom.menu{
  background-color: transparent !important;
}

.absoluteCenter{
  position: absolute;
  left: 50%;
  top:50%;
  padding: 0 !important;
}
#relative{
  position: relative;
  left: -50%;
  top: -1.25em;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}
