<template name="OptionsDropdown">
  <div class="ui top right pointing dropdown huge button">
    {{option.item}}
    <div class="menu">
      <div class="header">{{header}}</div>
      {{#each option.items}}
      <div class="item">{{this}}</div>
      {{/each}}
    </div>
  </div>
</template>

<template name="SettingsDropdown">
  <div class="ui top right pointing {{buttonLicense}} dropdown huge button">
    {{setting.item}}
    <div class="menu">
      <div class="header">{{header}}</div>
      {{#each setting.items}}
      <div class="item">{{this}}</div>
      {{/each}}
    </div>
  </div>
</template>
