<template name="Settings">
  <div class="ui center aligned container">
    <h2 class="ui header inverted">
      <div class="content">
        Showing Samples from
        {{>DateTimePicker Options = "SamplesOptions"}}
      </div>
    </h2>

    <h2 class="ui header inverted">
      <div class="content">
        Collecting samples every
        {{>SamplingSpinbox}}
        {{>OptionsDropdown option=samplingFreq}}
      </div>
    </h2>

    <h2 class="ui header inverted">
      <div class="content">
        Last time the pH buffer was changed
        {{> DateTimePicker Settings = "PhBuffer"}}
      </div>
    </h2>

    <h2 class="ui header inverted">
      <div class="content">
        Calibrating sensors every
        {{>SettingsDropdown setting=calibrationOptions header="Frequency"}}
        minutes
      </div>
    </h2>

    <div class="file">
      <a download="samples.csv" href="/database/samples/csv?download=true" class="ui button" target="_parent">
        CSV
      </a>
    </div>

    <h2 class="ui header inverted">
      <div class="content">
        <div class="file">
          <a id="backupBtn" href="/database/backup?download=true" class="ui button" target="_parent">
            Backup Database
          </a>
        </div>

      <div class="ui button" id="restoreBtn">
        Restore Database
      </div>
      <input type="file" id="restoreFile" style="display: none">
    </div>
  </h2>


</div>
</template>
