<template name="Settings">
  <div class="ui center aligned container">
    <h2 class="ui header inverted">
      <div class="content">
        Showing Samples from
        {{>DateTimePicker Options = "SamplesOptions"}}
      </div>
    </h2>

    <h2 class="ui header inverted">
      <div class="content">
        Collecting samples every
        {{>SamplingSpinbox}}
        {{>OptionsDropdown option=samplingFreq}}
      </div>
    </h2>

    <h2 class="ui header inverted">
      <div class="content">
        Last time the pH buffer was changed
        {{> DateTimePicker Settings = "PhBuffer"}}
      </div>
    </h2>

    <h2 class="ui header inverted">
      <div class="content">
        Calibrating sensors every
        {{>SettingsDropdown setting=calibrationOptions}}
        minutes
      </div>
    </h2>

    <h2 class="ui header inverted">
      <div class="content">
        <div class="file">
          <a download="samples.csv" href="/database/samples/csv?download=true" class="ui huge button" target="_parent">
            CSV
          </a>
        </div>
      </div>
    </h2>

    <h2 class="ui header inverted">
      <div class="content">
        <div id="cleanSamples" class="ui {{buttonLicense}} huge button">
          Clean Samples
        </div>
      </div>
    </h2>



    <h2 class="ui header inverted">
      <div class="content">
        {{>BackupBtn}}
        {{>RestoreBtn}}
    </div>
  </h2>


</div>
</template>
