<template name="MenuTop">
	<div id="MenuTop" class="ui inverted huge top fixed menu">
		{{#with items}}
			{{#each leftItems}}
				{{> Template.dynamic template=template data=data}}
			{{/each}}
		{{/with}}
		{{#with dynamicItems}}
			{{#each leftItems}}
				{{#MenuItem}}
					{{> Template.dynamic template=template data=data}}
				{{/MenuItem}}
			{{/each}}
		{{/with}}
		<div class="right menu">
			{{#with dynamicItems}}
				{{#each rightItems}}
					{{#MenuItem}}
						{{> Template.dynamic template=template data=data}}
					{{/MenuItem}}
				{{/each}}
			{{/with}}
			{{#with items}}
				{{#each rightItems}}
					{{> Template.dynamic template=template data=data}}
				{{/each}}
			{{/with}}
		</div>
	</div>
	<div id="gambiarra"></div>
</template>
