<template name="Options">
    {{#each sensors}}
      {{>SamplesAmount}}
    {{/each}}
</template>

<template name="SamplesAmount">
  <h4 class="ui header inverted">
    {{this}}
    <div class="content">
      Showing the last
      <div class="ui inline dropdown">
          <div class="text">{{active.item}}</div>
        <div class="menu">
          <div class="header">Number of Samples</div>
          {{#each items}}
            <div class="item" data-text="{{this}}">{{this}}</div>
          {{/each}}
        </div>
      </div>
      Samples
    </div>
  </h4>
</template>
