<template name="Outputs">
    <div class="ui vertical inverted fluid accordion menu">
      {{#each items}}
      <div class="item">
        <a class="{{_id}} title">
          <div class="{{_id}} ui right floated huge buttons">
            <div id="automaticButton" class="ui {{automaticButton}} huge button">
              Auto
            </div>
            <div id="manualButton" class="ui {{manualButton}} huge button">
              Manual
            </div>
          </div>
          <h1 class="ui center aligned inverted header">
            {{_id}}
          </h1>
        </a>
        <div id="{{_id}}" class="content">
          <div class="ui relaxed grid center aligned">
            {{# each outputs}}
            <div class="eight wide column">
              <div class="ui clearing inverted segment" style="padding:0;">
                <h1 class="ui left floated inverted header">{{_id}}</h1>
                <h1 class="ui right floated inverted header">{{percentage}}</h1>
              </div>
              {{> Slider this}}
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
</template>
